In [1]:
import pandas as pd
import re

In [2]:
df_xmen = pd.read_csv('x-men.csv')
df_xmen

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue80s_oStreet,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet
0,warrenWorthington,139,61,35,20,23,139,1108558,929056,154585,...,$975.00,$123.00,$129.72,$31.57,$11.30,$2.86,"$1,117.38",$210.29,$48.75,$5.35
1,hankMcCoy,119,62,38,9,10,119,957993,929776,20705,...,$431.00,$81.00,$128.27,$22.39,$9.89,$3.85,"$1,103.06",$138.42,$47.89,$8.10
2,scottSummers,197,63,69,56,9,197,1152230,933616,188635,...,"$1,427.00",$74.00,$126.87,$28.68,$7.82,$4.36,"$1,088.73",$169.20,$25.48,$8.22
3,bobbyDrake,123,62,35,6,20,123,1086749,929776,154585,...,$137.00,$108.00,$128.27,$31.57,$8.00,$3.10,"$1,103.06",$210.29,$22.83,$5.40
4,jeanGrey,164,63,58,14,29,164,1132091,933616,179899,...,$822.00,$189.00,$126.87,$28.95,$11.79,$3.72,"$1,088.73",$176.98,$58.71,$6.52
5,alexSummers,68,8,13,43,4,68,189014,34519,144946,...,$502.00,$24.00,$42.75,$45.92,$5.88,$4.75,$231.25,$297.31,$11.67,$6.00
6,lornaDane,48,9,13,19,7,48,228558,76279,144946,...,$293.00,$44.00,$41.56,$45.92,$6.11,$6.14,$222.22,$297.31,$15.42,$6.29
7,ororoMunroe,190,0,36,121,33,190,227438,0,171050,...,"$2,391.00",$273.00,$0.00,$34.00,$7.69,$4.79,$0.00,$191.39,$19.76,$8.27
8,kurtWagner,120,0,36,84,0,120,221716,0,171050,...,"$2,044.00",$0.00,$0.00,$34.00,$8.76,$0.00,$0.00,$191.39,$24.33,$0.00
9,loganHowlett,167,0,36,115,16,167,224653,0,171050,...,"$2,310.00",$119.00,$0.00,$34.00,$7.90,$6.94,$0.00,$191.39,$20.09,$7.44
10,peterRasputin,169,0,36,110,23,169,224661,0,171050,...,"$2,284.00",$130.00,$0.00,$34.00,$7.95,$3.13,$0.00,$191.39,$20.76,$5.65
11,seanCassidy,74,7,40,9,18,74,220055,39200,171962,...,$236.00,$152.00,$49.57,$32.60,$8.22,$6.61,$305.71,$185.75,$26.22,$8.44
12,shiroYoshida,10,0,6,1,3,10,142088,0,141872,...,$9.00,$12.00,$0.00,$77.67,$5.00,$2.67,$0.00,$514.17,$9.00,$4.00
13,johnProudstar,3,0,3,0,0,3,138380,0,138380,...,$0.00,$0.00,$0.00,$136.67,$0.00,$0.00,$0.00,$975.00,$0.00,$0.00
14,kittyPryde,73,0,0,66,7,73,40655,0,0,...,"$1,458.00",$0.00,$0.00,$0.00,$9.50,$0.00,$0.00,$0.00,$22.09,$0.00
15,annaMarieLeBeau,85,0,0,77,8,85,11188,0,0,...,$832.00,$51.00,$0.00,$0.00,$6.47,$4.38,$0.00,$0.00,$10.81,$6.38
16,rachelSummers,24,0,0,23,1,24,16643,0,0,...,$401.00,$30.00,$0.00,$0.00,$8.00,$8.00,$0.00,$0.00,$17.43,$30.00
17,ericMagnus,41,13,7,18,3,41,603328,582934,3479,...,$345.00,$22.00,$321.54,$20.00,$11.61,$7.33,"$3,506.15",$124.29,$19.17,$7.33
18,alisonBlaire,45,0,0,43,2,45,7268,0,0,...,$567.00,$14.00,$0.00,$0.00,$6.65,$5.50,$0.00,$0.00,$13.19,$7.00
19,longshot,35,0,0,35,0,35,2893,0,0,...,$307.00,$0.00,$0.00,$0.00,$5.69,$0.00,$0.00,$0.00,$8.77,$0.00
20,jonathanSilvercloud,39,0,0,11,28,39,3710,0,0,...,$91.00,$210.00,$0.00,$0.00,$5.09,$5.21,$0.00,$0.00,$8.27,$7.50
21,remyLeBeau,17,0,0,0,17,17,1519,0,0,...,$0.00,$188.00,$0.00,$0.00,$0.00,$6.41,$0.00,$0.00,$0.00,$11.06
22,jubilationLee,23,0,0,6,17,23,1592,0,0,...,$86.00,$126.00,$0.00,$0.00,$7.83,$6.59,$0.00,$0.00,$14.33,$7.41
23,lucasBishop,16,0,0,0,16,16,729,0,0,...,$0.00,$80.00,$0.00,$0.00,$0.00,$2.25,$0.00,$0.00,$0.00,$5.00
24,betsyBraddock,59,0,0,45,14,59,6603,0,0,...,$468.00,$109.00,$0.00,$0.00,$7.02,$7.57,$0.00,$0.00,$10.40,$7.79
25,charlesXavier,169,39,46,61,23,169,1029099,819537,166297,...,"$1,673.00",$125.00,$179.49,$31.59,$8.38,$2.87,"$1,617.82",$198.80,$27.43,$5.43

### adding a new column called 'gender'

In [3]:
df_xmen['gender'] = 'Unknown' 

df_xmen

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet,gender
0,warrenWorthington,139,61,35,20,23,139,1108558,929056,154585,...,$123.00,$129.72,$31.57,$11.30,$2.86,"$1,117.38",$210.29,$48.75,$5.35,Unknown
1,hankMcCoy,119,62,38,9,10,119,957993,929776,20705,...,$81.00,$128.27,$22.39,$9.89,$3.85,"$1,103.06",$138.42,$47.89,$8.10,Unknown
2,scottSummers,197,63,69,56,9,197,1152230,933616,188635,...,$74.00,$126.87,$28.68,$7.82,$4.36,"$1,088.73",$169.20,$25.48,$8.22,Unknown
3,bobbyDrake,123,62,35,6,20,123,1086749,929776,154585,...,$108.00,$128.27,$31.57,$8.00,$3.10,"$1,103.06",$210.29,$22.83,$5.40,Unknown
4,jeanGrey,164,63,58,14,29,164,1132091,933616,179899,...,$189.00,$126.87,$28.95,$11.79,$3.72,"$1,088.73",$176.98,$58.71,$6.52,Unknown
5,alexSummers,68,8,13,43,4,68,189014,34519,144946,...,$24.00,$42.75,$45.92,$5.88,$4.75,$231.25,$297.31,$11.67,$6.00,Unknown
6,lornaDane,48,9,13,19,7,48,228558,76279,144946,...,$44.00,$41.56,$45.92,$6.11,$6.14,$222.22,$297.31,$15.42,$6.29,Unknown
7,ororoMunroe,190,0,36,121,33,190,227438,0,171050,...,$273.00,$0.00,$34.00,$7.69,$4.79,$0.00,$191.39,$19.76,$8.27,Unknown
8,kurtWagner,120,0,36,84,0,120,221716,0,171050,...,$0.00,$0.00,$34.00,$8.76,$0.00,$0.00,$191.39,$24.33,$0.00,Unknown
9,loganHowlett,167,0,36,115,16,167,224653,0,171050,...,$119.00,$0.00,$34.00,$7.90,$6.94,$0.00,$191.39,$20.09,$7.44,Unknown
10,peterRasputin,169,0,36,110,23,169,224661,0,171050,...,$130.00,$0.00,$34.00,$7.95,$3.13,$0.00,$191.39,$20.76,$5.65,Unknown
11,seanCassidy,74,7,40,9,18,74,220055,39200,171962,...,$152.00,$49.57,$32.60,$8.22,$6.61,$305.71,$185.75,$26.22,$8.44,Unknown
12,shiroYoshida,10,0,6,1,3,10,142088,0,141872,...,$12.00,$0.00,$77.67,$5.00,$2.67,$0.00,$514.17,$9.00,$4.00,Unknown
13,johnProudstar,3,0,3,0,0,3,138380,0,138380,...,$0.00,$0.00,$136.67,$0.00,$0.00,$0.00,$975.00,$0.00,$0.00,Unknown
14,kittyPryde,73,0,0,66,7,73,40655,0,0,...,$0.00,$0.00,$0.00,$9.50,$0.00,$0.00,$0.00,$22.09,$0.00,Unknown
15,annaMarieLeBeau,85,0,0,77,8,85,11188,0,0,...,$51.00,$0.00,$0.00,$6.47,$4.38,$0.00,$0.00,$10.81,$6.38,Unknown
16,rachelSummers,24,0,0,23,1,24,16643,0,0,...,$30.00,$0.00,$0.00,$8.00,$8.00,$0.00,$0.00,$17.43,$30.00,Unknown
17,ericMagnus,41,13,7,18,3,41,603328,582934,3479,...,$22.00,$321.54,$20.00,$11.61,$7.33,"$3,506.15",$124.29,$19.17,$7.33,Unknown
18,alisonBlaire,45,0,0,43,2,45,7268,0,0,...,$14.00,$0.00,$0.00,$6.65,$5.50,$0.00,$0.00,$13.19,$7.00,Unknown
19,longshot,35,0,0,35,0,35,2893,0,0,...,$0.00,$0.00,$0.00,$5.69,$0.00,$0.00,$0.00,$8.77,$0.00,Unknown
20,jonathanSilvercloud,39,0,0,11,28,39,3710,0,0,...,$210.00,$0.00,$0.00,$5.09,$5.21,$0.00,$0.00,$8.27,$7.50,Unknown
21,remyLeBeau,17,0,0,0,17,17,1519,0,0,...,$188.00,$0.00,$0.00,$0.00,$6.41,$0.00,$0.00,$0.00,$11.06,Unknown
22,jubilationLee,23,0,0,6,17,23,1592,0,0,...,$126.00,$0.00,$0.00,$7.83,$6.59,$0.00,$0.00,$14.33,$7.41,Unknown
23,lucasBishop,16,0,0,0,16,16,729,0,0,...,$80.00,$0.00,$0.00,$0.00,$2.25,$0.00,$0.00,$0.00,$5.00,Unknown
24,betsyBraddock,59,0,0,45,14,59,6603,0,0,...,$109.00,$0.00,$0.00,$7.02,$7.57,$0.00,$0.00,$10.40,$7.79,Unknown
25,charlesXavier,169,39,46,61,23,169,1029099,819537,166297,...,$125.00,$179.49,$31.59,$8.38,$2.87,"$1,617.82",$198.80,$27.43,$5.43,Unknown

In [4]:
df_xmen['gender'] = ['Male', 'Female', 'Female', 'Male' , 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male']

In [5]:
df_xmen['gender'] = df_xmen['Member'].apply(lambda x: 'Female' if x in [
    'jeanGrey', 'lornaDane', 'ororoMunroe', 'kittyPryde', 
    'annaMarieLeBeau', 'rachelSummers', 'alisonBlaire', 
    'jubilationLee', 'betsyBraddock'
] else 'Male')

In [6]:
df_xmen

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet,gender
0,warrenWorthington,139,61,35,20,23,139,1108558,929056,154585,...,$123.00,$129.72,$31.57,$11.30,$2.86,"$1,117.38",$210.29,$48.75,$5.35,Male
1,hankMcCoy,119,62,38,9,10,119,957993,929776,20705,...,$81.00,$128.27,$22.39,$9.89,$3.85,"$1,103.06",$138.42,$47.89,$8.10,Male
2,scottSummers,197,63,69,56,9,197,1152230,933616,188635,...,$74.00,$126.87,$28.68,$7.82,$4.36,"$1,088.73",$169.20,$25.48,$8.22,Male
3,bobbyDrake,123,62,35,6,20,123,1086749,929776,154585,...,$108.00,$128.27,$31.57,$8.00,$3.10,"$1,103.06",$210.29,$22.83,$5.40,Male
4,jeanGrey,164,63,58,14,29,164,1132091,933616,179899,...,$189.00,$126.87,$28.95,$11.79,$3.72,"$1,088.73",$176.98,$58.71,$6.52,Female
5,alexSummers,68,8,13,43,4,68,189014,34519,144946,...,$24.00,$42.75,$45.92,$5.88,$4.75,$231.25,$297.31,$11.67,$6.00,Male
6,lornaDane,48,9,13,19,7,48,228558,76279,144946,...,$44.00,$41.56,$45.92,$6.11,$6.14,$222.22,$297.31,$15.42,$6.29,Female
7,ororoMunroe,190,0,36,121,33,190,227438,0,171050,...,$273.00,$0.00,$34.00,$7.69,$4.79,$0.00,$191.39,$19.76,$8.27,Female
8,kurtWagner,120,0,36,84,0,120,221716,0,171050,...,$0.00,$0.00,$34.00,$8.76,$0.00,$0.00,$191.39,$24.33,$0.00,Male
9,loganHowlett,167,0,36,115,16,167,224653,0,171050,...,$119.00,$0.00,$34.00,$7.90,$6.94,$0.00,$191.39,$20.09,$7.44,Male
10,peterRasputin,169,0,36,110,23,169,224661,0,171050,...,$130.00,$0.00,$34.00,$7.95,$3.13,$0.00,$191.39,$20.76,$5.65,Male
11,seanCassidy,74,7,40,9,18,74,220055,39200,171962,...,$152.00,$49.57,$32.60,$8.22,$6.61,$305.71,$185.75,$26.22,$8.44,Male
12,shiroYoshida,10,0,6,1,3,10,142088,0,141872,...,$12.00,$0.00,$77.67,$5.00,$2.67,$0.00,$514.17,$9.00,$4.00,Male
13,johnProudstar,3,0,3,0,0,3,138380,0,138380,...,$0.00,$0.00,$136.67,$0.00,$0.00,$0.00,$975.00,$0.00,$0.00,Male
14,kittyPryde,73,0,0,66,7,73,40655,0,0,...,$0.00,$0.00,$0.00,$9.50,$0.00,$0.00,$0.00,$22.09,$0.00,Female
15,annaMarieLeBeau,85,0,0,77,8,85,11188,0,0,...,$51.00,$0.00,$0.00,$6.47,$4.38,$0.00,$0.00,$10.81,$6.38,Female
16,rachelSummers,24,0,0,23,1,24,16643,0,0,...,$30.00,$0.00,$0.00,$8.00,$8.00,$0.00,$0.00,$17.43,$30.00,Female
17,ericMagnus,41,13,7,18,3,41,603328,582934,3479,...,$22.00,$321.54,$20.00,$11.61,$7.33,"$3,506.15",$124.29,$19.17,$7.33,Male
18,alisonBlaire,45,0,0,43,2,45,7268,0,0,...,$14.00,$0.00,$0.00,$6.65,$5.50,$0.00,$0.00,$13.19,$7.00,Female
19,longshot,35,0,0,35,0,35,2893,0,0,...,$0.00,$0.00,$0.00,$5.69,$0.00,$0.00,$0.00,$8.77,$0.00,Male
20,jonathanSilvercloud,39,0,0,11,28,39,3710,0,0,...,$210.00,$0.00,$0.00,$5.09,$5.21,$0.00,$0.00,$8.27,$7.50,Male
21,remyLeBeau,17,0,0,0,17,17,1519,0,0,...,$188.00,$0.00,$0.00,$0.00,$6.41,$0.00,$0.00,$0.00,$11.06,Male
22,jubilationLee,23,0,0,6,17,23,1592,0,0,...,$126.00,$0.00,$0.00,$7.83,$6.59,$0.00,$0.00,$14.33,$7.41,Female
23,lucasBishop,16,0,0,0,16,16,729,0,0,...,$80.00,$0.00,$0.00,$0.00,$2.25,$0.00,$0.00,$0.00,$5.00,Male
24,betsyBraddock,59,0,0,45,14,59,6603,0,0,...,$109.00,$0.00,$0.00,$7.02,$7.57,$0.00,$0.00,$10.40,$7.79,Female
25,charlesXavier,169,39,46,61,23,169,1029099,819537,166297,...,$125.00,$179.49,$31.59,$8.38,$2.87,"$1,617.82",$198.80,$27.43,$5.43,Male

### narrow it down to only female x-men

In [7]:
df_female = df_xmen[df_xmen['gender'] == 'Female']

df_female

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet,gender
4,jeanGrey,164,63,58,14,29,164,1132091,933616,179899,...,$189.00,$126.87,$28.95,$11.79,$3.72,"$1,088.73",$176.98,$58.71,$6.52,Female
6,lornaDane,48,9,13,19,7,48,228558,76279,144946,...,$44.00,$41.56,$45.92,$6.11,$6.14,$222.22,$297.31,$15.42,$6.29,Female
7,ororoMunroe,190,0,36,121,33,190,227438,0,171050,...,$273.00,$0.00,$34.00,$7.69,$4.79,$0.00,$191.39,$19.76,$8.27,Female
14,kittyPryde,73,0,0,66,7,73,40655,0,0,...,$0.00,$0.00,$0.00,$9.50,$0.00,$0.00,$0.00,$22.09,$0.00,Female
15,annaMarieLeBeau,85,0,0,77,8,85,11188,0,0,...,$51.00,$0.00,$0.00,$6.47,$4.38,$0.00,$0.00,$10.81,$6.38,Female
16,rachelSummers,24,0,0,23,1,24,16643,0,0,...,$30.00,$0.00,$0.00,$8.00,$8.00,$0.00,$0.00,$17.43,$30.00,Female
18,alisonBlaire,45,0,0,43,2,45,7268,0,0,...,$14.00,$0.00,$0.00,$6.65,$5.50,$0.00,$0.00,$13.19,$7.00,Female
22,jubilationLee,23,0,0,6,17,23,1592,0,0,...,$126.00,$0.00,$0.00,$7.83,$6.59,$0.00,$0.00,$14.33,$7.41,Female
24,betsyBraddock,59,0,0,45,14,59,6603,0,0,...,$109.00,$0.00,$0.00,$7.02,$7.57,$0.00,$0.00,$10.40,$7.79,Female

### reformating each female x-man's name into a standard one

In [8]:
def reformat(name):
    names = re.sub(r'([a-z])([A-Z])', r'\1 \2', name)
    return names.title() 

df_female['Member'] = df_female['Member'].apply(reformat)

df_female

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/2843302995.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['Member'] = df_female['Member'].apply(reformat)

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet,gender
4,Jean Grey,164,63,58,14,29,164,1132091,933616,179899,...,$189.00,$126.87,$28.95,$11.79,$3.72,"$1,088.73",$176.98,$58.71,$6.52,Female
6,Lorna Dane,48,9,13,19,7,48,228558,76279,144946,...,$44.00,$41.56,$45.92,$6.11,$6.14,$222.22,$297.31,$15.42,$6.29,Female
7,Ororo Munroe,190,0,36,121,33,190,227438,0,171050,...,$273.00,$0.00,$34.00,$7.69,$4.79,$0.00,$191.39,$19.76,$8.27,Female
14,Kitty Pryde,73,0,0,66,7,73,40655,0,0,...,$0.00,$0.00,$0.00,$9.50,$0.00,$0.00,$0.00,$22.09,$0.00,Female
15,Anna Marie Le Beau,85,0,0,77,8,85,11188,0,0,...,$51.00,$0.00,$0.00,$6.47,$4.38,$0.00,$0.00,$10.81,$6.38,Female
16,Rachel Summers,24,0,0,23,1,24,16643,0,0,...,$30.00,$0.00,$0.00,$8.00,$8.00,$0.00,$0.00,$17.43,$30.00,Female
18,Alison Blaire,45,0,0,43,2,45,7268,0,0,...,$14.00,$0.00,$0.00,$6.65,$5.50,$0.00,$0.00,$13.19,$7.00,Female
22,Jubilation Lee,23,0,0,6,17,23,1592,0,0,...,$126.00,$0.00,$0.00,$7.83,$6.59,$0.00,$0.00,$14.33,$7.41,Female
24,Betsy Braddock,59,0,0,45,14,59,6603,0,0,...,$109.00,$0.00,$0.00,$7.02,$7.57,$0.00,$0.00,$10.40,$7.79,Female

### Analysis of Women's Market Value

In [9]:
df_female[['Member', 'PPI80s_ebay', 'PPI90s_ebay', 'PPI80s_heritage', 'PPI90s_heritage']]

                Member PPI80s_ebay PPI90s_ebay PPI80s_heritage PPI90s_heritage
4            Jean Grey     $47.50       $5.86       $1,204.86          $58.90
6           Lorna Dane     $21.32       $5.86         $347.47         $104.43
7         Ororo Munroe     $14.30      $10.12         $447.98          $66.15
14         Kitty Pryde     $14.59       $0.00         $615.98           $0.00
15  Anna Marie Le Beau      $7.77       $3.25         $139.35          $57.25
16      Rachel Summers     $10.61      $50.00         $703.78         $456.00
18       Alison Blaire     $12.84       $3.00         $167.40          $35.00
22      Jubilation Lee     $19.33       $5.94          $73.67          $67.65
24      Betsy Braddock     $10.89       $6.79         $123.84          $73.57

changing everything into a numeric value

In [10]:
df_female['PPI80s_ebay'] = df_female['PPI80s_ebay'].astype(str).str.replace('[$,]', '', regex=True).astype(float)
df_female['PPI90s_ebay'] = df_female['PPI90s_ebay'].astype(str).str.replace('[$,]', '', regex=True).astype(float)


df_female['PPI80s_heritage'] = df_female['PPI80s_heritage'].astype(str).str.replace('[$,]', '', regex=True).astype(float)
df_female['PPI90s_heritage'] = df_female['PPI90s_heritage'].astype(str).str.replace('[$,]', '', regex=True).astype(float)

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/198214964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['PPI80s_ebay'] = df_female['PPI80s_ebay'].astype(str).str.replace('[$,]', '', regex=True).astype(float)
/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/198214964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['PPI90s_ebay'] = df_female['PPI90s_ebay'].astype(str).str.replace('[$,]', '', regex=True).astype(float)
/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/198214964.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['PPI80s_heritage'] = df_female['PPI80s_heritage'].astype(str).str.replace('[$,]', '', regex=True).astype(float)
/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/198214964.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['PPI90s_heritage'] = df_female['PPI90s_heritage'].astype(str).str.replace('[$,]', '', regex=True).astype(float)

In [11]:
df_female['drop_8090s_eBay'] = df_female['PPI90s_ebay'] / df_female['PPI80s_ebay']

df_female[['Member', 'PPI70s_ebay']]

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/1425269656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['drop_8090s_eBay'] = df_female['PPI90s_ebay'] / df_female['PPI80s_ebay']

                Member PPI70s_ebay
4            Jean Grey     $84.53
6           Lorna Dane    $207.92
7         Ororo Munroe    $120.81
14         Kitty Pryde      $0.00
15  Anna Marie Le Beau      $0.00
16      Rachel Summers      $0.00
18       Alison Blaire      $0.00
22      Jubilation Lee      $0.00
24      Betsy Braddock      $0.00

In [12]:
df_female['drop_8090s_heritage'] = df_female['PPI90s_heritage'] / df_female['PPI80s_heritage']

df_female[['Member', 'PPI80s_heritage', 'PPI90s_heritage','drop_8090s_heritage']]

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/1912363776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['drop_8090s_heritage'] = df_female['PPI90s_heritage'] / df_female['PPI80s_heritage']

                Member  PPI80s_heritage  PPI90s_heritage  drop_8090s_heritage
4            Jean Grey          1204.86            58.90             0.048885
6           Lorna Dane           347.47           104.43             0.300544
7         Ororo Munroe           447.98            66.15             0.147663
14         Kitty Pryde           615.98             0.00             0.000000
15  Anna Marie Le Beau           139.35            57.25             0.410836
16      Rachel Summers           703.78           456.00             0.647930
18       Alison Blaire           167.40            35.00             0.209080
22      Jubilation Lee            73.67            67.65             0.918284
24      Betsy Braddock           123.84            73.57             0.594073

In [13]:
df_female[['Member', 'drop_8090s_eBay','90s_Appearance_Percent'] ]

                Member  drop_8090s_eBay 90s_Appearance_Percent
4            Jean Grey         0.123368                 64.44%
6           Lorna Dane         0.274859                 15.56%
7         Ororo Munroe         0.707692                 73.33%
14         Kitty Pryde         0.000000                 15.56%
15  Anna Marie Le Beau         0.418275                 17.78%
16      Rachel Summers         4.712535                  2.22%
18       Alison Blaire         0.233645                  4.44%
22      Jubilation Lee         0.307294                 37.78%
24      Betsy Braddock         0.623508                 31.11%

In [14]:
df_ebay_value = df_female[['Member', 'PPI80s_ebay','80s_Appearance_Percent']]

In [15]:
df_ebay_value.to_csv('febay_output.csv', index = False)

## After all female X-men made their debut, Who Regains their Visibility?

### data for female x-men in the 80s

In [16]:
df_female[['Member','80s_Appearance_Percent']]

                Member 80s_Appearance_Percent
4            Jean Grey                 10.22%
6           Lorna Dane                 13.87%
7         Ororo Munroe                 88.32%
14         Kitty Pryde                 48.18%
15  Anna Marie Le Beau                 56.20%
16      Rachel Summers                 16.79%
18       Alison Blaire                 31.39%
22      Jubilation Lee                  4.38%
24      Betsy Braddock                 32.85%

In [17]:
df_female[['Member','90s_Appearance_Percent']]

                Member 90s_Appearance_Percent
4            Jean Grey                 64.44%
6           Lorna Dane                 15.56%
7         Ororo Munroe                 73.33%
14         Kitty Pryde                 15.56%
15  Anna Marie Le Beau                 17.78%
16      Rachel Summers                  2.22%
18       Alison Blaire                  4.44%
22      Jubilation Lee                 37.78%
24      Betsy Braddock                 31.11%

In [18]:
df_female['80s_Appearance_Percent'] = df_female['80s_Appearance_Percent'].replace('%', '', regex=True).astype(float)

df_female['80s_TotalAppearance'] = (df_female['80s_Appearance_Percent'] / 100) * df_female['TotalIssues80s']
df_female['80s_TotalAppearance']

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/3997894063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['80s_Appearance_Percent'] = df_female['80s_Appearance_Percent'].replace('%', '', regex=True).astype(float)
/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/3997894063.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['80s_TotalAppearance'] = (df_female['80s_Appearance_Percent'] / 100) * df_female['TotalIssues80s']

4       1.4308
6       2.6353
7     106.8672
14     31.7988
15     43.2740
16      3.8617
18     13.4977
22      0.2628
24     14.7825
Name: 80s_TotalAppearance, dtype: float64

In [19]:
df_female['90s_Appearance_Percent'] = df_female['90s_Appearance_Percent'].replace('%', '', regex=True).astype(float)

df_female['90s_TotalAppearance'] = (df_female['90s_Appearance_Percent'] / 100) * df_female['TotalIssues90s']
df_female['90s_TotalAppearance']

/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/727954067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['90s_Appearance_Percent'] = df_female['90s_Appearance_Percent'].replace('%', '', regex=True).astype(float)
/var/folders/zz/2b8md6f924779tdhfsf8zvqm0000gn/T/ipykernel_52124/727954067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female['90s_TotalAppearance'] = (df_female['90s_Appearance_Percent'] / 100) * df_female['TotalIssues90s']

4     18.6876
6      1.0892
7     24.1989
14     1.0892
15     1.4224
16     0.0222
18     0.0888
22     6.4226
24     4.3554
Name: 90s_TotalAppearance, dtype: float64

In [20]:
df_fApp = df_female[['Member', '80s_Appearance_Percent', '90s_Appearance_Percent']]

df_fApp

                Member  80s_Appearance_Percent  90s_Appearance_Percent
4            Jean Grey                   10.22                   64.44
6           Lorna Dane                   13.87                   15.56
7         Ororo Munroe                   88.32                   73.33
14         Kitty Pryde                   48.18                   15.56
15  Anna Marie Le Beau                   56.20                   17.78
16      Rachel Summers                   16.79                    2.22
18       Alison Blaire                   31.39                    4.44
22      Jubilation Lee                    4.38                   37.78
24      Betsy Braddock                   32.85                   31.11

In [21]:
df_fApp.to_csv('female_output.csv', index = False)

## Analyis of Male X-Men

In [22]:
df_male = df_xmen[df_xmen['gender'] == 'Male']

df_male

,Member,TotalIssues,TotalIssues60s,TotalIssues70s,TotalIssues80s,TotalIssues90s,totalIssueCheck,TotalValue_heritage,TotalValue60s_heritage,TotalValue70s_heritage,...,TotalValue90s_oStreet,PPI60s_wiz,PPI70s_wiz,PPI80s_wiz,PPI90s_wiz,PPI60s_oStreet,PPI70s_oStreet,PPI80s_oStreet,PPI90s_oStreet,gender
0,warrenWorthington,139,61,35,20,23,139,1108558,929056,154585,...,$123.00,$129.72,$31.57,$11.30,$2.86,"$1,117.38",$210.29,$48.75,$5.35,Male
1,hankMcCoy,119,62,38,9,10,119,957993,929776,20705,...,$81.00,$128.27,$22.39,$9.89,$3.85,"$1,103.06",$138.42,$47.89,$8.10,Male
2,scottSummers,197,63,69,56,9,197,1152230,933616,188635,...,$74.00,$126.87,$28.68,$7.82,$4.36,"$1,088.73",$169.20,$25.48,$8.22,Male
3,bobbyDrake,123,62,35,6,20,123,1086749,929776,154585,...,$108.00,$128.27,$31.57,$8.00,$3.10,"$1,103.06",$210.29,$22.83,$5.40,Male
5,alexSummers,68,8,13,43,4,68,189014,34519,144946,...,$24.00,$42.75,$45.92,$5.88,$4.75,$231.25,$297.31,$11.67,$6.00,Male
8,kurtWagner,120,0,36,84,0,120,221716,0,171050,...,$0.00,$0.00,$34.00,$8.76,$0.00,$0.00,$191.39,$24.33,$0.00,Male
9,loganHowlett,167,0,36,115,16,167,224653,0,171050,...,$119.00,$0.00,$34.00,$7.90,$6.94,$0.00,$191.39,$20.09,$7.44,Male
10,peterRasputin,169,0,36,110,23,169,224661,0,171050,...,$130.00,$0.00,$34.00,$7.95,$3.13,$0.00,$191.39,$20.76,$5.65,Male
11,seanCassidy,74,7,40,9,18,74,220055,39200,171962,...,$152.00,$49.57,$32.60,$8.22,$6.61,$305.71,$185.75,$26.22,$8.44,Male
12,shiroYoshida,10,0,6,1,3,10,142088,0,141872,...,$12.00,$0.00,$77.67,$5.00,$2.67,$0.00,$514.17,$9.00,$4.00,Male
13,johnProudstar,3,0,3,0,0,3,138380,0,138380,...,$0.00,$0.00,$136.67,$0.00,$0.00,$0.00,$975.00,$0.00,$0.00,Male
17,ericMagnus,41,13,7,18,3,41,603328,582934,3479,...,$22.00,$321.54,$20.00,$11.61,$7.33,"$3,506.15",$124.29,$19.17,$7.33,Male
19,longshot,35,0,0,35,0,35,2893,0,0,...,$0.00,$0.00,$0.00,$5.69,$0.00,$0.00,$0.00,$8.77,$0.00,Male
20,jonathanSilvercloud,39,0,0,11,28,39,3710,0,0,...,$210.00,$0.00,$0.00,$5.09,$5.21,$0.00,$0.00,$8.27,$7.50,Male
21,remyLeBeau,17,0,0,0,17,17,1519,0,0,...,$188.00,$0.00,$0.00,$0.00,$6.41,$0.00,$0.00,$0.00,$11.06,Male
23,lucasBishop,16,0,0,0,16,16,729,0,0,...,$80.00,$0.00,$0.00,$0.00,$2.25,$0.00,$0.00,$0.00,$5.00,Male
25,charlesXavier,169,39,46,61,23,169,1029099,819537,166297,...,$125.00,$179.49,$31.59,$8.38,$2.87,"$1,617.82",$198.80,$27.43,$5.43,Male

In [25]:
df_ebay = df_female[['Member', 'PPI80s_ebay', 'PPI90s_ebay']]

In [26]:
df_ebay.to_csv('febay_output.csv', index=False)